{% extends "base.html.twig" %}

{% block body %}
<div class="d-flex justify-content-center">
<h1>Bienvenue dans monécole</h1>
</div>
<section class="d-flex justify-content-center">
<div>
    <img src="https://picsum.photos/id/1073/1000/590" alt="">
</div>
</section>


{% endblock %}